# Terraform
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lambda packaging
lambda/*.zip
lambda/__pycache__/
*.pyc

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp

# My .md files
errors.md
screenshots/
learning.md


